@font-face{
    src: url(/fonts/Borel-Regular.ttf);
    font-family: Borel;
}
@font-face{
    src: url(/fonts/EduSABeginner-VariableFont_wght.ttf);
    font-family: EduSA;
}
@font-face{
    src: url(/fonts/IndieFlower-Regular.ttf);
    font-family: Indie;
}

#anav{
    color: gold;
    font-family: Borel;
    float: left;
    bottom: -20px;
}

/*Navigation*/
/*flex properties:
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    */
.container{
    display: flex;
    border: 2px solid rgb(245, 238, 51);
    background-color: rgb(250, 158, 158);
    border-radius: 15px;
    justify-content: center;

}
.box{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    float: inline-start;
}
.box:hover{
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 15px;
    float: inline-start;
}
.box #icn:hover{
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 15px;
    float: inline-start;
}

#box1{
    background-color: lightblue;
}
#box2{
    background-color: lightcoral;
}
#box3{
    background-color: lightgreen;
}
#box4{
    background-color: lightgoldenrodyellow;
}
#box5{
    background-color: lightsalmon;
}

/* Tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    height: 20px;
    width: 110px;
    background-color: rgb(54, 50, 50);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

body{
    background-image: url(/image/luffyGear5.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    margin:0px;
}

main{
    background-color: darkgoldenrod;
    opacity: 85%;
    border: 2px solid;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
    text-align: center;
    margin: 20px;
    height: 60vh;
}

#h1n1{
    font-family: Indie;
    text-align: center;
}

footer{
    display: block;
    clear: both;
    background-color: lightslategray;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width:600px){
    aside, section, article, {
        width: 100%;
        }
    #h1n1{
        font-size:inherit;
    }
    .navbar{
        width: inherit;
        height: inherit;
    }
}

/*start here*/
.boxs{
    width: 150px;
    height: 150px;
    border: 5px solid;
    font-size: 8em;
    text-align: center;

    transform: translateX(100px) rotate(45deg) scale(0.9);
}
/* transform properties
transform: translate(10%, 10%)
(x, Y)
transform: rotateX(##deg)
transform: rotateY(##deg)
transform: rotateZ(##deg)
transform: scaleX(##)
transform: scaleY(##)
transform: scale(#, #)x, y
transform: skewX(##deg)
transform: skewY(##deg)
transform: skew(#, #)x, y
*/
#box11{
background-color: lightgreen;
}
#box22{
background-color: rgb(236, 238, 144);
}
#box33{
background-color: rgb(200, 55, 42);
}
#box44{
justify-self: center;
width: 100px;
transform: translateX(100%) rotate(180deg) scale(2);

}

