@font-face{
    src: url(/fonts/Borel-Regular.ttf);
    font-family: Borel;
}
@font-face{
    src: url(/fonts/EduSABeginner-VariableFont_wght.ttf);
    font-family: EduSA;
}
@font-face{
    src: url(/fonts/IndieFlower-Regular.ttf);
    font-family: Indie;
}

#anav{
    color: gold;
    font-family: Borel;
    float: left;
    bottom: -20px;
}

/*Navigation*/
/*flex properties:
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    */
.container{
    display: flex;
    border: 2px solid rgb(245, 238, 51);
    background-color: rgb(250, 158, 158);
    border-radius: 15px;
    justify-content: center;

}
.box{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    float: inline-start;
}
.box:hover{
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 15px;
    float: inline-start;
}
.box #icn:hover{
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 15px;
    float: inline-start;
}

#box1{
    background-color: lightblue;
}
#box2{
    background-color: lightcoral;
}
#box3{
    background-color: lightgreen;
}
#box4{
    background-color: lightgoldenrodyellow;
}
#box5{
    background-color: lightsalmon;
}

/* Tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    height: 20px;
    width: 110px;
    background-color: rgb(54, 50, 50);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

body{
    background-image: url(/image/luffyGear5.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    margin:0px;
}

main{
    background-color: darkgoldenrod;
    border: 2px solid;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
    text-align: center;
    margin: 20px;
    height: 60vh;
}

#h1n1{
    font-family: Indie;
    text-align: center;
}

footer{
    display: block;
    clear: both;
    background-color: lightslategray;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width:600px){
    aside, section, article, {
        width: 100%;
        }
    #h1n1{
        font-size:inherit;
    }
    .navbar{
        width: inherit;
        height: inherit;
    }
}

/*start here*/

#box11{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    animation-name: shrink;/*change value here*/
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}
#box22{
    justify-content: left;
    animation-name: grow;/*change value here*/
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
}

/*change color*/
@keyframes color{
    0%{background-color: green;}
    20%{background-color: blue;}
    50%{background-color: yellow;}
    80%{background-color: orange;}
    100%{background-color: violet;}
}
@keyframes glow{
    0%{box-shadow:0px, 0px, 5px green;}
    20%{box-shadow:0px, 0px, 5px blue;}
    50%{box-shadow:0px, 0px, 5pxyellow;}
    80%{box-shadow:0px, 0px, 5pxorange;}
    100%{box-shadow:5px, 5px, 5pxviolet;}
}
/*slide*/
@keyframes slideLeft{
    from{transform: translateX(-300%)}
}
@keyframes slideRight{
    to{transform: translateX(-300%)}
}
@keyframes slideUp{
    from{transform: translateY(300%)}
}
@keyframes slideDown{
    to{transform: translateY(300%)}
}
/*rotate*/
@keyframes rotateX{
    100%{transform: rotateX(360deg)}
}
@keyframes rotateY{
    100%{transform: rotateY(360deg)}
}
@keyframes rotateZ{
    50%{transform: rotateZ(360deg)}
}
/*grow*/
@keyframes grow{
    50%{transform: scale(2,2)}
}
/*shrink*/
@keyframes shrink{
    50%{transform: scale(0.5,0.5)}
}
/*fade*/
@keyframes fade{
    50%{opacity:0}
}
@keyframes fade2{
    100%{opacity:0}
}