header{
    text-align: center;
}
footer{
    text-align: center;
}
p{
    font-size: 1.2em;
}
#div1{
    border:2px solid;
    height: 75px;
    overflow: clip;
    overflow-clip-margin: 20px;
}
#div2{
    border:2px solid;
    height: 75px;
    overflow:hidden;
}
#div3{
    border:2px solid;
    height: 75px;
    overflow: auto;
    }
#div4{
    border:2px solid;
    height: 75px;
    overflow:scroll;
}
#div5{
    border:2px solid;
    height: 75px;
    overflow:visible;
}