@font-face{
    src: url(/fonts/Borel-Regular.ttf);
    font-family: Borel;
}
@font-face{
    src: url(/fonts/EduSABeginner-VariableFont_wght.ttf);
    font-family: EduSA;
}
@font-face{
    src: url(/fonts/IndieFlower-Regular.ttf);
    font-family: Indie;
}

#anav{
    color: gold;
    font-family: Borel;
    float: left;
    bottom: -20px;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 0px;
    display: block;
    margin:0px;
}

.navbar #icn{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.navbar #icn:hover{
    width: 80px;
}
.navbar li{
    float: left;
    bottom: -20px;
    width: 12px;
    margin: 27px;
    background: transparent;
}

body{
    background-image: url(/image/luffyGear5.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    margin:0px;
}

main{
    background-color: darkgoldenrod;
    opacity: 85%;
    border: 2px solid;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
    text-align: center;
    margin: 20px;
}

#h1n1{
    font-family: Indie;
    text-align: center;
}

footer{
    display: block;
    clear: both;
    background-color: lightslategray;
    text-align: center;
    padding: 10px;
}
@media screen and (max-width:600px){
    aside, section, article, {
        width: 100%;
        }
    #h1n1{
        font-size:inherit;
    }
    .navbar{
        width: inherit;
        height: inherit;
    }
}

.gallery{
    display: inline-block;
    border: 1px solid red;
    margin: 5px;

}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 2px solid black;
}
.gallery img{
    width: 100%;
    height: auto;
}

.tooltiptext{
    text-align: center;
    font-size: small;
}
/* Tooltip for icon*/
    .tooltip .tooltiptext {
    visibility: hidden;
    color: #000000;
    float: left;
  }
  
  .tooltip:hover .tooltiptext{
    visibility: visible;
  }