header{
    background-color: lightcyan;
    text-align: center;
}
footer{
    background-color: lightcyan;
    text-align: center;
}

#box1{
    width: 200px;
    height: 200px;
    background-color: lightskyblue;
    position: absolute;
    top: 0px;
    
}
#box2{
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    position: sticky;
    top: 50px;
    left: 50px;
   
    
}
